/* Fonts  */
@import url('https://fonts.googleapis.com/css?family=Petit+Formal+Script&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Serif+Pro|Tangerine&display=swap');
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

/* Presets  */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html, body {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    padding-top: 100px;
    color: rgb(20, 20, 20);
}

/* Message Pop Up */
.message-container {
    height: 50px;
    width: 300px;
    background: rgba(0, 0, 0, .9);
    position: fixed;
    bottom: 25px;
    pointer-events: none;
    z-index: 10000;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    font-style: italic;
    opacity: 0;
    transition: all 1s ease;
}

/* Navigation  */ 
.nav-container {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    background: white;
    z-index: 1000;
}
.logo {
    margin-left: 50px;
    font-size: 2.5em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.nav-links {
    margin-right: 50px;
}
.nav-link {
    text-decoration: none;
    color: #2c2c2c;
    font-size: 1.5em;
    margin: 15px;
    display: inline-block;
}
.hvr:after {
    content: '';
    width: 0px;
    height: 1.5px;
    display: block;
    background: rgb(20, 20, 20);
    transition: 300ms;
}
.hvr:hover:after {
    width: 100%;
}
.s-shift {
    transition: color .25s ease;
}
.s-shift:hover {
    color: rgb(150, 150, 150);
}
#cart-logo-container {
    transition: all 600ms ease;
}

/* Home Page  */ 
.dark-bar {
    background: rgb(20, 20, 20);
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 10px 0px;
}
.image-slider {
    position: relative;
    width: 100%;
}
.slide {
    width: 100%;
}
#slide1 {
    background: url('images/slider1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    animation: fade;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    animation-delay: 0s;
}
#slide2 {
    background: url('images/slider2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    animation: fade;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    animation-delay: 4s;
}
#slide3 {
    background: url('images/slider3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    animation: fade;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    animation-delay: 8s;
}
@keyframes fade {
    0% { opacity: 0; }
    11.11% { opacity: 1; }
    33.33% { opacity: 1; }
    44.44% { opacity: 0; }
    100% { opacity: 0; }
}
.center-text {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgba(0, 0, 0, .8);
}
.center-text h1 {
    color: white;
    margin: 20px;
    font-size: 4em;
    font-style: italic;
}
.shop-button {
    border: 1px solid white;
    text-decoration: none;
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 1.5em;
    transition: font-size .25s ease;
}
.shop-button:hover {
    font-size: 1.7em;
    background: #fff;
    color: #2c2c2c;
}

/* Full View Container */
.full-view-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: white;
}
.bg-gray {
    background: #2c2c2c;
}

/* Content Box */
.content-box {
    width: 500px;
    text-align: center;
    padding: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    line-height: 3em;
    box-shadow: 4px 4px 10px rgb(100, 100, 100);
}
.content-box h3 {
    background: linear-gradient(to right, rgb(255, 255, 255), rgb(235, 235, 235), rgb(255,255,255));
    padding: 0 !important;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    color: #2c2c2c;
}
.cl-white h3 {
    background: linear-gradient(to right, #2c2c2c, #333, #2c2c2c);
    color: #fff;
}
.cl-white {
    color: white;
    box-shadow: 4px 4px 10px rgb(255, 255, 255);
}
.cl-white .buy-button {
    border: 1px solid white;
    color: white;
    background: rgba(0,0,0,0);
}
.buy-button {
    border: 1px solid rgb(20, 20, 20);
    padding: 13px;  
    border-radius: 5px;
    color: rgb(20, 20, 20);
    text-decoration: none;
    background: white;
    font-size: 15px;
    margin-top: 20px;
}
.buy-button:hover {
    cursor: pointer;
}

/* Image Box */
.image-box {
    height: 80%;
    width: 50%;
}
#ib1 {
    background: url('./images/shoes1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#ib2 {
    background: url('./images/shirts3final.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#ib3 {
    background: url('./images/products/hoodie2.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

/* About Content */
.parallax {
    background: url('images/outfit3.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-container {
    width: 800px;
    padding: 25px;
    background: rgba(255, 255, 255, .5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-div {
    text-align: center;
    font-weight: bolder;
    font-size: 2em;
    font-family: 'Tangerine', cursive;
}

/* News Preview */
.news-text {
    display: flex;
    text-transform: uppercase;
    color: #2c2c2c;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 300;
}
.news-text h1 {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 1.75em;
    font-style: italic;
    background: rgba(255,255,255,.9);
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-weight: bolder;
}
.custom-line {
    background: #fff;
    width: 33%;
    height: 10px;
    margin-top: 5px;
    margin-left: 50px;
    margin-right: 50px;
}
.news-items {
    width: 100%;
}
.news-item {
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
}
.news-first {
    height: 100vh !important;
}
.news-body {
    width: 50%;
    height: 80%;
    font-size: 1.15em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 75px;
    z-index: 150;
    color: black;
    background: rgba(255,255,255,.9);
}
.news-body a {
    color: black;
    font-style: italic;
    font-size: 1.15em;
}
.body-shrink {
    height: 60% !important;
    margin-top: -75px;
}
.news-header {
    font-size: 1.5em;
    font-weight: bold;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.news-desc {
    height: 50%;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.news-image {
    height: inherit;
    width: 100%;
    position: absolute;
    z-index: 100;
}
#ni1 {
    background: url('images/sandiego2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#ni2 {
    background: url('images/covid.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#ni3 {
    background: url('images/donate.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Map Content */
.map-container {
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../src/images/compass2.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.info {
    height: 55%;
    width: 35%;
    background: rgba(0,0,0,.7);
    z-index: 2;
    padding: 25px;
    font-family: 'Source Serif Pro', serif;
    font-size: 1.2em;
    color: white;
    border-radius: 50px;

}
.info hr {
    width: 25%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.split-bottom {
    font-size: .8em;
    margin-top: 10px;
}
.map {
    background: url('images/map.png');
    mask-image: radial-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, .7));
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 80%;
    width: 60%;
    margin-left: -100px;
    border-radius: 50px;
}

.message-pointer {
    position: absolute;
    bottom: 25px;
    left: 25px;
    color: white;
    font-size: 2em;
    display: flex;
    font-style: italic;
}
.down-arrow {
    height: 40px;
    width: 40px;
    background: url('../src/images/down-arrow.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    margin-left: 25px;
}
.down-arrow:hover {
    cursor: pointer;
}

/* Contact Content */
.contact-text {
    display: flex;
    text-transform: uppercase;
    color: #2c2c2c;
    width: 100%;
    margin-top: 100px;
}
.contact-text h1 {
    width: 33%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 1.5em;
    font-style: italic;
}
.contact-container {
    margin-bottom: 100px;
}
.contact-form {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 75%;
}
.contact-form input{
    background: white;
    border: 1px solid #a0a0a0;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
}
.contact-form textarea {
    background: white;
    border: 1px solid #a0a0a0;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    resize: none;
}
.contact-form label {
    display: block;
    padding-bottom: 15px;
}
.contact-form input[type="submit"] {
    width: 100px;
    background: #2c2c2c;
    color: white;
}
.contact-form input[type="submit"]:hover {
    cursor: pointer;
}
.grid-item {
    margin: 15px;
}
#g3 {
    grid-column: 1 / 3;
}
#g4 {
    grid-column: 1 / 3;
    grid-row: 3 / 5;
}
#user-message {
    height: 200px;
}
#g5 {
    grid-column: 1 / 3;
    justify-self: center;
}

/* Shop Page --------------------------------------- */
.filter-container {
    margin-left: 25px;
    margin-right: 25px;
    text-align: center;
    font-family: 'Muli', sans-serif;
}
.filter-container h1 {
    font-weight: lighter;
    font-style: italic;
    margin-bottom: 10px;
    font-size: 3em;
    color: #2c2c2c;
}
.filter-buttons-container {
    width: 100vw;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: left;
}
.filters-label {
    font-size: 2em;
    height: 75px;
    font-style: italic;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.line-through-short {
    height: 7px;
    border-bottom: 1px solid black;
    width: 10%;
}
.line-through-long {
    height: 7px;
    border-bottom: 1px solid black;
    width: 70%;
}
.filter-buttons {
    display: flex;
    width: 100%;
}
.filter-button {
    border: 1px solid #a0a0a0;
    background: white;
    color: #2c2c2c;
    width: 150px;
    height: 50px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 3px;
    margin-top: 3px;
}
.filter-button:hover {
    background: #2c2c2c;
    color: #fff;
    cursor: pointer;
}
.type-filter-selected,
.price-filter-selected {
    background: #2c2c2c;
    color: #fff;
}
.type-filter-selected:hover {
    text-decoration: line-through;
}
#all-types-button:hover{
    text-decoration: none !important;
}
.product-grid {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 100px;
}
.product-container {
    height: 400px;
    margin: 25px;
    border-radius: 2px;
}
.product-container:hover {
    cursor: pointer;
    background-size: 75%;
}
.product-details {
    margin: 0 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Muli', sans-serif;
}
.product-name {
    font-size: 1.75em;
}
.product-price {
    font-size: 1.5em;
    margin-top: 15px;
    color: #686868;
}
.tee1 {
    border: 1px solid #a0a0a0;
    background: url('./images/products/tee1.png') #f5f5f5;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.tee2 {
    border: 1px solid #a0a0a0;
    background: url('./images/products/tee2.png') #f5f5f5;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.hat1 {
    border: 1px solid #a0a0a0;
    background: url('./images/products/hat1.png') #f5f5f5;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.hat2 {
    border: 1px solid #a0a0a0;
    background: url('./images/products/hat2.png') #f5f5f5;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.shorts1 {
    border: 1px solid #a0a0a0;
    background: url('./images/products/shorts1.png') #f5f5f5;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.shorts2 {
    border: 1px solid #a0a0a0;
    background: url('./images/products/shorts2.png') #f5f5f5;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.shoes1 {
    border: 1px solid #a0a0a0;
    background: url('./images/products/shoes1.png') #f5f5f5;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.shoes2 {
    border: 1px solid #a0a0a0;
    background: url('./images/products/shoes2.png') #f5f5f5;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.hoodie1 {
    border: 1px solid #a0a0a0;
    background: url('./images/products/hoodie1.png') #f5f5f5;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.hoodie2 {
    border: 1px solid #a0a0a0;
    background: url('./images/products/hoodie2.png') #f5f5f5;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.pants1 {
    border: 1px solid #a0a0a0;
    background: url('./images/products/pants1.png') #f5f5f5;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.add-to-cart-container {
    margin: 25px;
    background: #2c2c2c;
    height: 400px;
    display: flex;
}
.split-left, .split-right {
    width: 50%;
}
.split-left {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
}
.inventory-container {
    width: 100%;
    height: 20%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: white;
}
.i-text {
    font-size: 1.75em;
}
.i-grid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 30px 30px;
    margin-top: 5px;
}
.i-g-item {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}
.small-product {
    height: 200px;
    width: 200px;
}
.split-right {
    /* background: #686868; */
    background: rgb(245, 245, 245);
    border: 1px solid #2c2c2c;
    text-align: center;
}
.product-name-container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.75em;
    padding-top: 5px;
    margin-top: 25px;
}
.size-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.size-button {
    background: #2c2c2c;
    border: none;
    padding: 5px;
    height: 50px;
    width: 50px;
    margin: 5px;
    color: white;
    border-radius: 2px;
}
.quantity-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}
.quantity-down {
    border: none;
    color: white;
    font-size: 2em;
    height: 50px;
    width: 50px;
    background: #2c2c2c;
    line-height: 50px;
    border-radius: 2px;
}
.quantity-field {
    height: 50px;
    width: 100px;
    border: none;
    font-size: 2em;
    text-align: center;
    margin: 15px;
    border-radius: 2px;
    border: 1px solid #2c2c2c;
}
.quantity-up {
    border: none;
    color: white;
    font-size: 2em;
    height: 50px;
    width: 50px;
    background: #2c2c2c;
    border-radius: 2px;
}
.total-container {
    font-size: 1.5em;
    margin-top: 15px;
    /* color: #fff; */
    color: #2c2c2c;
}
.func-buttons {
    margin-top: 15px;
}
.add-product-button {
    border: none;
    background: #2c2c2c;
    color: white;
    height: 50px;
    width: 150px;
    margin: 5px;
    border-radius: 2px;
    font-size: 1em;
}
.exit-product-button {
    position: absolute;
    top: 15px;
    left: 15px;
    color: white;
    font-size: 1.75em;
}
.exit-product-button:hover {
    cursor: pointer;
    color: #a0a0a0;
}
.size-button:hover,
.quantity-down:hover,
.quantity-up:hover,
.add-product-button:hover {
    cursor: pointer;
    background: #fff;
    color: #2c2c2c;
    border: 1px solid #2c2c2c;
}
.active-size {
    background: white;
    color: #2c2c2c;
    /* border: none; */
    border: 1px solid #2c2c2c;
}
.active-size:hover {
    background: white !important;
}
button::-moz-focus-inner {
    border: 0;
}

/* News Content */
.news-container {
}
.news-cover {
    background: url('./images/letters.jpg');
    /* background: linear-gradient(to bottom, #fff, #2c2c2c); */
    /* background: #2c2c2c; */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5em;
    font-weight: bolder;
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px 5px black;
    font-style: italic;
}
.cover-image {
    height: 50vh;
    width: 75%;
    background: url('./images/newsfeed.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.full-height-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
#nitem1 {
    /* background: url('./images/sandiego2.jpg'); */
    background: #2c2c2c;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 50px;
    border-bottom: 5px solid white;
}
#nitem2 {
    /* background: url('./images/covid.jpg'); */
    background: #2c2c2c;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    border-bottom: 5px solid white;
    padding: 50px;
}
#nitem3 {
    /* background: url('./images/donate.jpg'); */
    background: #2c2c2c;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* padding: 50px; */
}
.n-header {
    color: rgb(255, 255, 255);
    height: 140px;
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4em;
    font-weight: bold;
    font-style: italic;
    margin-bottom: 30px;
    text-shadow: 3px 3px 5px rgb(0, 0, 0);
    background: #2c2c2c;
}
.n-body {
    background: #2c2c2c;
    color: #fff;
    min-height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.nb-top {
    background: #2c2c2c;
    color: #fff;
    min-height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: top;
    flex-wrap: wrap;
}
.no-flex {
    background: #2c2c2c;
    color: #fff;
    min-height: 500px;
    width: 100%;
    position: relative;
}
.split {
    width: 50%;
    min-height: 100px;
}
#ls1-container {
    transform: rotateZ(45deg);
    /* shape-outside: ellipse(50% 45% at 50% 50%); */
    shape-outside: circle();
    margin: 50px;
    float: left;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}
#ls1-image {
    background: url('./images/sandiego2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top left;
    height: 600px;
    width: 600px;
    position: absolute;
    top: -100px;
    left: -100px;
    transform: rotateZ(-45deg);
}
#ls1 {
    color: #ffffff;
    font-size: 2.75em;
    width: 400px;
    height: 400px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-style: italic;
    transform: rotateZ(-45deg);
    position: relative;
}
.info-mask {
    position: absolute;
    height: 400px;
    width: 400px;
    transform: rotateZ(45deg);
    background: rgba(0,0,0,.2);
}
.top-layer {
    z-index: 10;
    text-shadow: 1px 1px 2px black;
}
#ls1 div {
    /* margin: 20px; */
    width: 100%;
}
#ls1 div:last-child {
    font-size: .75em;
    margin-top: 15px;
}
#rs1 {
    line-height: 40px;
    font-size: 1.5em;
}
.image-cards {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: top;
    padding-top: 150px;
    padding-bottom: 50px;
    font-size: 2em;
}
#bg-white {
    background: white;
}
.image-card {
    height: 450px;
    width: 400px;
    color: white;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: .9em;
    font-style: italic;
    border: 5px solid white;
    background: rgba(0,0,0,.5);
    z-index: 100;
    text-shadow: 5px 5px 5px #2c2c2c;
    transition: height 1s ease, width 1s ease;
}
.image-card p {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    text-align: center;
}
.image-card:nth-child(1) {
    transform: rotateZ(-15deg) translateX(120px);
    background: url('./images/outfit5.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.image-card:nth-child(2) {
    /* transform: rotateZ(45deg); */
    background: rgba(0,0,0,.9);
    background: url('./images/palm.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 150;
    margin-top: -75px;
}
.image-card:nth-child(3) {
    transform: rotateZ(15deg) translateX(-120px);
    background: url('./images/coins.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.image-card p {
    /* transform: rotateZ(-45deg); */
}
.image-card:hover {
    z-index: 151;
    height: 475px;
    width: 425px;
}
.bottom-text {
    text-align: center;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    margin-top: 25px;
    font-size: 1.5em;
}
#ls2 {
    padding-right: 20px;
    /* text-align: center; */
    /* background: linear-gradient(to right, #2c2c2c, #2c2c2c, #2c2c2c, #2c2c2c, #2c2c2c, red, #2c2c2c, #2c2c2c); */
    /* background: radial-gradient(red, #2c2c2c, #2c2c2c, #2c2c2c, #2c2c2c); */
    /* font-style: italic; */
    /* text-shadow: 3px 3px 20px black; */
    font-size: 1.5em;
}
#rs2 {
    background: url('./images/covidtparent.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-position: fixed;
}
.gborder {
    margin-top: 100px;
}
.mask-container {
    font-size: 2.5em;
    margin-bottom: 50px;
    text-align: center;
    /* background: linear-gradient(to bottom, rgb(28, 28, 28), #2c2c2c); */
    padding: 20px;
    width: 100%;
    height: 100px;
}
.no-style Link{
    text-decoration: none;
    color: white !important;
}
.faces-container {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 100px;
}
.face1 {
    height: 350px;
    width: 350px;
    background: url('./images/galaxy.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 20px;
    border-radius: 50%;
}
.face2 {
    height: 350px;
    width: 350px;
    background: url('./images/smoke.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 20px;
    border-radius: 50%;
}
.face3 {
    height: 350px;
    width: 350px;
    background: url('./images/tydye.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 20px;
    border-radius: 50%;
}
.mask-contain {
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, .5);
    position: absolute;
    border-radius: 20px;
}
.box-heading {
    font-size: 2.5em;
}
#hh-card1 {
    background: url('./images/donate.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 1000px;
    background-attachment: fixed;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.5em;
    line-height: 40px;
    padding: 50px;
    font-weight: bolder;
    position: relative;
    border-radius: 20px;
}
#hh-text1 p {
    z-index: 100;
    position: relative;
}

#hh-card2 {
    background: url('./images/donate.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 1000px;
    background-attachment: fixed;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.5em;
    line-height: 40px;
    padding: 50px;
    font-weight: bolder;
    position: relative;
    border-radius: 20px;
}
#hh-text2 p {
    z-index: 100;
    position: relative;
}

#hh-card3 {
    background: url('./images/donate.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 1000px;
    background-attachment: fixed;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.5em;
    line-height: 40px;
    padding: 50px;
    font-weight: bolder;
    position: relative;
    border-radius: 20px;
}
#hh-text3 p {
    z-index: 100;
    position: relative;
}

.boxes {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    z-index: 100;
    position: relative;
    margin-top: 50px;
}
.box1 {
    height: 150px;
    width: 300px;
    background: url('./images/feedingamerica.png');
    background-size: 300px 150px;
    background-repeat: no-repeat;
    background-position: center;
}
.box2 {
    height: 200px;
    width: 300px;
    background: url('./images/goodwill.png');
    background-size: 150px 200px;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: -50px;
}
.box3 {
    height: 125px;
    width: 300px;
    background: url('./images/habitat.png');
    background-size: 300px 125px;
    background-repeat: no-repeat;
    background-position: center;
}
.donation-form {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    z-index: 100;
    position: relative;
}
.donate-name, .donate-email, .donate-area {
    height: 50px;
    width: 350px;
    text-align: center;
    margin: 10px;
    background: #2c2c2c;
    color: rgb(255, 255, 255);
    border: none;
    /* border-radius: 3px; */
    box-shadow: inset 1px 1px 3px rgb(0, 0, 0), inset -1px -1px 3px gray;
    font-size: .75em;
}
.donate-area {
    height: 150px;
    padding: 20px;
    resize: none;
}
.donation-form button {
    background: #2c2c2c;
    padding: 20px;
    width: 200px;
    border-radius: 3px;
    border: none;
    color: white;
    font-weight: bolder;
    font-size: .6em;
    transition: all .5s ease;
    box-shadow: inset 1px 1px 3px rgb(0, 0, 0), inset -1px -1px 3px gray;
}
.donation-form button:hover {
    box-shadow: inset 1px 1px 3px gray, inset -1px -1px 3px rgb(0, 0, 0);
    cursor: pointer;
}
/*
.news-heading {
    height: 200px;
    width: 100vw;
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: 15px 15px 15px rgb(22, 22, 22);
}

#nh1 {
    z-index: 100;
    margin: 0px;
    width: 100%;
    height: 250px;
    box-shadow: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.5em;
    color: rgb(255, 255, 255);
    font-weight: bolder;
    flex-wrap: wrap;
    padding: 50px;
    padding-top: 100px;
    background: white;
    text-shadow: 2px 2px 5px #2c2c2c;
}

#nh2 {
    background: url('./images/closedcorona.png');
    background-size: 100% 200px;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    box-shadow: none;
}
#nh22 {
    background: url('images/closedcorona2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5em;
    font-weight: bolder;
    background-attachment: fixed;
    width: 100%;
    margin: 0;
}
#nh3 {
    width: 100%;
    box-shadow: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.25em;
    color: #fff;
    font-weight: bolder;
    flex-wrap: wrap;
    height: auto;
    text-shadow: 4px 4px 7px #000;
    margin-top: 100px;
    margin-bottom: 100px;
}
.news-detail {
    width: 100%;
    padding-bottom: 200px;
    font-size: 1.25em;
}
#nitem1 {
    background: url('images/sandiego2.jpg');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#nitem2 {
    background: url('images/covid.jpg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#nitem3 {
    background: url('images/donate.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.text-box {
    height: 300px;
    background: url('./images/sandiegobg.png');
    background-size: 100vw 300px;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
}
.tboxtext {
    width: 90%;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 75px;
    padding-bottom: 75px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    font-size: 3em;
    font-weight: bolder;
    text-align: center;
    line-height: 75px;
    font-style: italic;
    color: white;
}
.content-diamond {
    width: 700px;
    height: 700px;
    background: rgba(0,0,0,.8);
    color: #2c2c2c;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    color: white;
    transform: rotateZ(45deg);
    margin-left: auto;
    margin-right: auto;
    margin-top: -300px;
    font-size: 1.5em;
}
.content-diamond div:first-child {
    transform: rotateZ(-45deg);
}
.content-diamond h1, .content-diamond h2, .content-diamond h4, .content-diamond div{
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
}
.location-content {
    color: black;
    width: 100%;
    position: relative;
    height: 70vh;
    display: flex;
    align-items: center;
    padding: 100px;
    font-size: 2em;
    text-align: center;
    font-weight: bold;
    line-height: 80px;
    background: white;
}

.rl-container {
    width: 100%;
    padding: 50px;
    display: flex;
}
.left-container {
    width: 35%;
    height: 400px;
    background: rgba(0,0,0,.8);
    color: #2c2c2c;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    border-left: 10px solid #fff;
    border-top: 10px solid #fff;
    border-bottom: 10px solid #fff;
    color: white;
}
.left-container h4, .left-container h1, .left-container h2, .left-container div {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
}
.left-container div {
    font-style: italic;
}
.right-container {
    background: -webkit-radial-gradient(rgba(255,255,255,.6),rgba(255,255,255,1));
    background: radial-gradient(rgba(255,255,255,.6),rgba(255,255,255,1));
    color: black;
    width: 65%;
    height: 400px;
    float: right;
    display: flex;
    align-items: center;
    padding: 50px;
    font-size: 1.25em;
    text-align: center;
    font-weight: bold;
    line-height: 60px;
}
.ndpadding {
    padding: 100px;
    text-align: center;
    font-size: 2em;
    color: white;
    width: 100%;
    background: linear-gradient(to bottom, rgba(44, 44, 44, 1), rgba(44, 44, 44,.8), rgba(0,0,0,0));
}
.sec3 u {
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    background: white;
    color: #2c2c2c;
}
#nd3 {
    color: white;
    text-align: center;
    font-size: 2.5em;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    text-shadow: 20px 20px 20px black, -20px -20px 20px black;
}
*/

/* Cart Content */
.cart-container {
    display: flex;
    width: 100%;
}

.cart-list {
    width: 60%;
    min-height: 1000px;
}
.cart-item {
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-bottom: 1px solid #505050;
}
.cart-item-image {
    height: 250px;
    width: 250px;
}
.cart-item-data {
    color: #414141;
    width: 400px;
    height: 115px;
    font-size: 1.5em;
    font-family: 'Muli', sans-serif;
    font-weight: bolder;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.cart-item-name {
    width: 100%;
    font-size: 1.35em;
    margin-bottom: 15px;
}
.cart-item-s-q {
    width: 100%;
    font-size: 1.25em;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}
.plus-but {
    margin-left: 15px;
    background: #2c2c2c;
    border-radius: 5px;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    width: 40px;
}
.min-but {
    margin-left: 15px;
    background: #2c2c2c;
    border-radius: 5px;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    width: 40px;
}
.plus-but:hover,
.min-but:hover {
    cursor: pointer;
}
.cart-item-total {
    width: 100%;
    font-size: 1.25em;
}
.cart-field {
    height: 40px;
    width: 100px;
    border-radius: 5px;
    border: 1px inset #2c2c2c;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1em;
}
.cart-field::placeholder {
    opacity: 1;
}
.remove-but {
    background: #2c2c2c;
    color: #fff;
    height: 25px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 25px;
    top: 25px;
}
.remove-but:hover {
    cursor: pointer;
}
.cart-data {
    background: #2c2c2c;
    color: white;
    width: 40%;
    height: 100vh;
    position: fixed;
    overflow-y: scroll;
    right: 0;
    padding: 50px;
    transition: all 1s ease;
}
.cart-data-center {
    font-size: 3em;
    text-align: center;
    margin-bottom: 50px;
    color: white;
    text-shadow: 4px 4px 4px #000;
}
.cart-total {
    font-size: 2em;
    text-align: right;
    font-style: italic;
    text-shadow: 4px 4px 4px #000;
}
.main-total {
    margin-top: 60px;
}
.checkout-but {
    height: 50px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    color: #2c2c2c;
    padding: 25px;
    font-size: 1.25em;
    font-weight: bold;
    position: fixed;
    bottom: 25px;
    right: 25px;
    box-shadow: 5px 5px 5px black;
}
.checkout-but:hover {
    cursor: pointer;
}
.clear-but {
    height: 50px;
    width: 200px;
    padding: 25px;
    font-weight: bold;
    font-size: 1.25em;
    background: rgb(26, 26, 26);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 25px;
    box-shadow: 5px 5px 5px black;
}
.clear-but:hover {
    cursor: pointer;
}
.cart-data-empty {
    font-size: 2.5em;
    text-align: center;
}

/* Contact Container */
.full-view-split {
}
.split1 {
    height: 33%;
    background: #2c2c2c;
}
.split2 {
    height: 33%;
}
.split3 {
    height: 33%;
    background: #2c2c2c;
}
.contact-box {
    background: #2c2c2c;
    border: 1px solid white;
    position: absolute;
    top: 250px;
    left: 25%;
    height: 300px;
    width: 700px;
}

/* Error Component */
.error-container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
}
.ec-wrap {
    flex-wrap: wrap;
}
.cart-error-div {
    width: 100%;
    text-align: center;
}
.no-style-link {
    color: #2c2c2c;
    font-style: italic;
}

/* Checkout Component */

.checkout-form {
    display: none;
    grid-template-columns: 50% 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 100%;
    padding-bottom: 75px;
}
.checkout-form input{
    background: white;
    border: 1px solid #a0a0a0;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
}
.checkout-form textarea {
    background: white;
    border: 1px solid #a0a0a0;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    resize: none;
}
.checkout-form label {
    display: block;
    padding-bottom: 15px;
    font-size: 1.5em;
    color: white;
    text-shadow: 4px 4px 4px #000;
}

.checkout-form input[type="submit"] {
    width: 200px;
    height: 50px;
    background: #2c2c2c;
    color: white;
    font-size: 1.25em;
    margin-top: 50px;
    margin-bottom: 50px;
    border: none;
    box-shadow: inset -1px -1px 1px black, inset 1px 1px 1px gray;
}
.checkout-form input[type="submit"]:hover {
    cursor: pointer;
    box-shadow: inset -2px -2px 2px black, inset 2px 2px 2px gray;
}
.checkout-form input[type="submit"]:active {
    box-shadow: inset 2px 2px 2px black, inset -2px -2px 2px gray;
}
.grid-full {
    grid-column-start: 1;
    grid-column-end: 3;
}
.shrink-height {
    margin-bottom: -15px;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active
{
    background: rgb(0, 0, 0);
    border: none;
    color: white;
}
input:focus {
    outline: none;
    box-shadow: inset 2px 2px 3px black;
    border: none;
}
textarea:focus {
    outline: none;
    box-shadow: inset 2px 2px 3px black;
    border: none;
}
.card-element {
    width: 60%;
    margin-left: auto;  
    margin-right: auto;
    text-align: center;
    background: rgb(255, 255, 255);
    padding: 10px;
    grid-column-start: 1;
    grid-column-end: 3;
    border-radius: 5px;
}

/* Loader */
.loader {
    border: 16px solid #2c2c2c;
    border-radius: 50%;
    border-top: 16px solid #ffffff;
    width: 50px;
    height: 50px;
    position: fixed;
    top: 50%;
    left: 50%;  
    margin-left: -25px;
    margin-top: -25px;
    -webkit-animation: spin .75s ease-in-out infinite; /* Safari */
    animation: spin .75s ease-in-out infinite;
}
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.receipt-header {
    /* background: linear-gradient(to right, white, #cccccc, white); */
    background: #2c2c2c;
    color: white;
    width: 100%;
    height: 87vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    text-align: center;
    font-size: 3.5em;
    position: relative;
}

.receipt-box {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
.order-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.items-text {
    width: 100%;
    font-size: 50px;
    background: white;
    margin-bottom: 25px;
    border: 1px solid #2c2c2c;
    width: 80%;
    padding: 25px;
    color: #0c0c0c;
    font-style: italic;
}
.order-item {
    width: 80%;
    margin-bottom: 15px;
    background: #2c2c2c;
    color: #fff;
    display: flex;

}
.order-item-img {
    height: 250px;
    width: 35%;
}
.order-item-data {
    width: 65%;
    margin-top: auto;
    margin-bottom: auto;
}

.order-item-name {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 25px;
    font-size: 1.75em;
    font-style: italic;
}
.order-item-quantity {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 5px;
    font-size: 1.5em;
}
.order-item-variant {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 5px;
    font-size: 1.5em;
}
.order-item-total {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 5px;
    font-size: 1.5em;
}
.order-details {
    margin-top: 50px;
    font-size: 2em;
}
.order-details div {
    margin-bottom: 5px;
    background: #2c2c2c;
    color: white;
    padding: 25px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.details-text {
    font-size: 50px;
    background: #fff !important;
    color: #0c0c0c !important;
    border: 1px solid #2c2c2c;
    font-style: italic;
}
.merchant-details {
    border: 1px solid gray;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding: 25px;
}
.merchant-text {
    font-size: 50px;
    color: #0c0c0c;
}
.support-msg {
    margin-top: 20px;
    font-size: 20px;
    /* line-height: 30px; */
    width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.down-arrow-receipt {
    height: 40px;
    width: 40px;
    background: url('../src/images/down-arrow.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-left: -20px;
}
.down-arrow-receipt:hover {
    cursor: pointer;
}